.itemContainer {

    margin: auto;
    width: 80%;
    border-radius: 5px;
    margin-bottom: 1em;
    padding: 1em;
    cursor: pointer;
    box-shadow: 0 0px 20px 0px rgba(0, 0, 0, 0.12) !important;

    a {
        text-decoration: none;
        display: -webkit-flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        display: flex;
        .itemImage {
            height: 128px;
            width: 128px;
            /* border: 1px inset rgba(0, 0, 0, .1); */
            /* border-radius: 50%; */
          }

          .itemtitle {
            margin-right: auto;
            color: #365899;
            font-weight: bold;
            padding-left: 2em;
            display: flex;
            flex-direction: column;
                h4 {
                    margin-top: 0;
                    margin-bottom: 11%;
                }
          }

          .lowerContaier {
                display: flex;
                justify-content:space-between;

                :first-child{
                    display: flex;
                    p {
                        margin: 0;
                     }
                }

          }
      }

  }


